.nav {
  position: fixed;
  top: 0;
  width: 100%;
  /* justify-content: space-between; */
  display: flex;
  padding: 20px;
  z-index: 1;
  height: 30px;
  /* background-image: linear-gradient(0deg, transparent, black 100%); */
  transition-timing-function: ease-in;
  transition: all 0.5s;
}

.nav_black {
  background-color: black;
}

.nav_logo {
  position: fixed;
  left: 20px;
  width: 80px;
  object-fit: contain;
}

.nav_avatar {
  position: fixed;
  right: 20px;
  width: 30px;
  object-fit: contain;
}
